<%= form_for(@song) do |f| %>
  <% if @song.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@song.errors.count, "error") %> prohibited this song from being saved:</h2>

      <ul>
      <% @song.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :music %><br>
    <%= f.text_field :music %>
  </div>
  <div class="field">
    <%= f.label :music_url %><br>
    <%= f.text_field :music_url %>
  </div>
  <div class="field">
    <%= f.label :lyrics %><br>
    <%= f.text_field :lyrics %>
  </div>
  <div class="field">
    <%= f.label :singer %><br>
    <%= f.text_field :singer %>
  </div>
  <div class="field">
    <%= f.label :illustration %><br>
    <%= f.text_field :illustration %>
  </div>
  <div class="field">
    <%= f.label :pv_director %><br>
    <%= f.text_field :pv_director %>
  </div>
  <div class="field">
    <%= f.label :youtube_id %><br>
    <%= f.text_field :youtube_id %>
  </div>
  <div class="field">
    <%= f.label :itunes_url %><br>
    <%= f.text_field :itunes_url %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
