<% provide(:title, 'Contact Form') %>
<!-- bootstrap -->
<div class="container-fluid">
  <div class="container_bg img-rounded col-xs-10 col-xs-offset-1">
    <div class="row">
      <div class="col-xs-6 col-xs-offset-3">
        <h1>Contact</h1>
        <%= form_for(@contact) do |f| %>
        <%= render 'shared/error_messages', object: f.object %>
  
        <p>
        <%= f.label :name %> &nbsp;&nbsp;&nbsp;
        <%= f.text_field :name %><br>
        </p>
        
        <p>
        <%= f.label :email %>&nbsp;&nbsp;&nbsp;&nbsp;
        <%= f.text_field :email %><br>
        </p>

        <p>
        <%= f.label :content %>&nbsp;
        <%= f.text_area :content, :size=>"60x10" %>
        <br>
        </p>
        <%= f.submit "Submit", class: "btn btn-large btn-primary" %>
        <% end %>
        <br>
        <div class="pull-right">
          All the field is required.
        </div>
      </div>
    </div>
  </div>
</div>

<!--
<div class="container container_bg img-rounded">

<h1>Contact</h1>

  <div class="span6 offset3">
    <#%= form_for(@contact) do |f| %>
      <#%= render 'shared/error_messages', object: f.object %>

      <#%= f.label :name %> 
      <#%= f.text_field :name %>

      <#%= f.label :email %>
      <#%= f.text_field :email %>

      <#%= f.label :content %>
      <#%= f.text_area :content %>
      <br>

      <%#= f.submit "Submit", class: "btn btn-large btn-primary" %>
    <#% end %>
    <br>
    <!--div align="right"-->
    <!--div class="pull-right">
    All the field is required.

    </div>
  </div>
</div>
-->