<div class="container-fluid">
  <div class="row">
    <p>
      <h1>
        <%= @show.title %>
      </h1>
    </p>
  <div class="col-sm-4">
    <!--img class="img-result" src="%= image_tag @show.img_url if @show.img_url %"-->
    <%= image_tag @show.img_url if @show.img_url %>
  </div>
  <div class="col-sm-7 col-sm-offset-1">
    <p>
      <strong>Official title:</strong>
      <%= @show.official_title %>
    </p>
    <p>
      <% if @show.offical_url? %>
      <strong>Offical webpage:  </strong>
      <%= link_to @show.offical_url, @show.offical_url , :target=>["_blank"]%>
      <% end %>
    </p>
    <p>
      <% if @show.sponser_url? %>
      <strong>Sponser:  </strong>
      <%= link_to @show.sponser, @show.sponser_url, :target=>["_blank"]%>
      <% end %>
    </p>
    <p>
      <% if @show.broadcasting_station? %>
      <strong>Broadcasting station:</strong>
      <%= @show.broadcasting_station %>
      <% end %>
    </p>
    <p>
      <% if @show.broadcasting_period? %>
      <strong>Broadcasting period:</strong>
      <%= @show.broadcasting_period %>
      <% end %>
    </p>
  </div>
    <p>
    <% if @show.youtube_id? %>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/<%= @show.youtube_id %>" frameborder="0" allowfullscreen></iframe>
    <% end %>
    </p>
  </div>
</div>