<% provide(:title, 'Shows') %>
<div class="container-fluid">
 <div class="sidebar container_bg">
     
  <%= render 'shows/sidebar' %>
  
 </div>
 <div class="content container_bg">
 <div class="container_inside_right">

  <p id="notice"><%= notice %></p>

<p>
  <h2>
    <%= @show.title %>
  </h2>
</p>
    </div>

 <div class="container_inside_right">
  <div class="span4">
         <%= image_tag @show.img_url %>
  </div>
  <div class="span4">
<p>
  <strong>Official title:</strong>
  <%= @show.official_title %>
</p>

<p>
  <strong>Offical webpage:</strong>
  <%= link_to @show.offical_url, @show.offical_url , :target=>["_blank"]%>
</p>

<p>
  <strong>Sponser:</strong> <!--nullのときにhiddenしたい！ -->
  <%= link_to  @show.sponser, @show.sponser_url, :target=>["_blank"] %>

<p>
  <strong>Broadcasting station:</strong>
  <%= @show.broadcasting_station %>
</p>

<p>
  <strong>Broadcasting period:</strong>
  <%= @show.broadcasting_period %>
</p>

<p>
  <strong>Youtube:</strong>
  <%= @show.youtube_id %>
</p> 
  </div>
</div>    
  </div>
</div>