<header class="navbar navbar-fixed-bottom navbar-inverse">
　<div class="navbar-inner">
    <%= link_to "Mio Himemiya Official Page", '/', id: "logo" %>
   　
   　<div id="menu-box">
  <div id="toggle"><a href="#">menu</a></div>
  <ul id="menu" class="nav pull-right">
       <li><%= link_to "Biography", biography_path %></li>
       <li><%= link_to "Discography", discography_path %></li>
       <li><%= link_to "Songs", songs_path %></li>
       <li><%= link_to "Shows", shows_path %></li>
       <li><%= link_to "Contact", new_contact_path %></li>
       <li id="fb">
           <iframe src="//www.facebook.com/plugins/like.php?href=https%3A%2F%2Fwww.facebook.com%2Fpages%2Fmooma%2F226634750699139&amp;width=100&amp;layout=button&amp;action=like&amp;show_faces=false&amp;share=false&amp;height=35" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:100px; height:35px;" allowTransparency="true"></iframe>
       </li>
  </ul>
</div>


</div>
</header>
