<header class="navbar navbar-fixed-bottom navbar-inverse">
　<div class="navbar-inner">
    <%= link_to "Mio Himemiya Official Page", '/', id: "logo" %>
   　 <nav>
      <ul class="nav pull-right">
       <li><%= link_to "Biography", biography_path %></li>
       <li><%= link_to "Discography", discography_path %></li>
       <li><%= link_to "Songs", songs_path %></li>
       <li><%= link_to "Shows", songs_path %></li>
       <li><%= link_to "Contact", contact_path %></li>
      </ul>
     </nav>
  </div>
</header>